{% extends "base.html" %}

{% block container %}
<section id="localizacao">
<div class="container">
<div class="row">
  <div class="col-xs-12">
      <div class="page-header"><h1>Localização <small>Venha nos Visitar</small></h1></div>
  </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1828.142771887384!2d-46.7875139442153!3d-23.594090184666605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce55a9d7873315%3A0x415ec69583df0de6!2sIans%C3%A3+do+Bale+-+Comercio+de+Artigos+Religiosos!5e0!3m2!1spt-BR!2sbr!4v1505959046034" width="100%" height="520" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>
</div>
</section>
{% endblock %}
